@import '../variables';

.main-container {
  margin-top: 170px;
  display: flex;
}

.side-info {
  margin-left: 125px;
  width: 350px;
  padding-bottom: 46px;
  border-top: 1px solid rgba(51, 50, 61, 0.2);
  border-bottom: 1px solid rgba(51, 50, 61, 0.2);
  h2 {
    margin-top: 50px;
  }
  p {
    margin-top: 28px;
  }
  button {
    margin-top: 24px;
  }

  @media (max-width: 1104px) {
    margin-left: 70px;
  }
}

.image-container {
  background-image: url('/homepage/image-homepage-profile.webp');
  background-position: center;
  background-repeat: no-repeat;
  width: 540px;
  height: 600px;
  @media (max-width: 1012px) {
    width: 440px;
  }
  @media (max-width: 934px) {
    width: 380px;
  }
  @media (max-width: 860px) {
    width: 281px;
    background-position: right;
  }
}
