.contacto {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
  h2 {
    max-width: 340px;
  }
  @media (max-width: 535px) {
    flex-direction: column;
    margin-top: 135px;
  }
}

.separador {
  margin-top: 8px;
  width: 531px;
  height: 1px;
  background-color: rgba(51, 50, 61, 0.2);
  @media (max-width: 1104px) {
    max-width: 280px;
  }
  @media (max-width: 944px) {
    max-width: 240px;
  }
  @media (max-width: 900px) {
    max-width: 120px;
  }
  @media (max-width: 790px) {
    max-width: 100px;
  }
  @media (max-width: 535px) {
    display: none;
  }
}
