@import '../variables';

.footer {
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  background-color: $grayish-blue; 
  @media (max-width: 535px) {
    height: 180px;
  }
}

.footer-container {
  height: 100%;
  display: flex;
  align-items: center;
  a {
    color: #fff;
  }
  @media (max-width: 535px) {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 40px;
  }
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  gap: 20px;
  img:hover {
    cursor: pointer;
  }
  @media (max-width: 535px) {
    margin-top: 8px;
    margin-left: -30px;
  }
}
