.main-container {
  position: relative;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  margin-top: 34px;
  background-image: url('/homepage/image-homepage-hero.webp');
  background-repeat: no-repeat;
  background-position: top 0px right -30px;

  @media (max-width: 1104px) {
    margin-left: 45px;
    margin-right: 45px;
    background-position: center;
  }
  @media (max-width: 535px) {
    background-image: url('/homepage/image-homepage-hero-mobile.jpg');
    background-size: contain;
    background-position: center;
    height: auto;
    margin-top: 48px;
    margin-bottom: 358px;
  }
  @media (max-width: 375px) {
    margin-top: 0px;
    margin-left: 32px;
  }
}

.info {
  position: absolute;
  left: 0;
  top: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 357px;
  width: 445px;
  background-color: #fff;
  position: relative;
  button {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (max-width: 1104px) {
    margin-left: -45px;
    margin-right: -45px;
  }
  @media (max-width: 535px) {
    background-color: transparent;
    width: auto;
    top: 252px;
    h1 {
      font-size: 40px;
      line-height: 42px;
      letter-spacing: -0.36px;
      margin-top: 20px;
    }
    button {
      bottom: 20px;
    }
  }
  @media (max-width: 375px) {
    margin-left: -32px;
    max-width: 310px;
    button {
      bottom: 0px;
    }
  }
}
