@import '../variables';

.navbar {
  height: 32px;
  padding-top: 80px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 42px;
}

.menu {
  display: none;
}

.active {
  a {
    color: $cyan;
  }
}

@media (max-width: 420px) {
  .links {
    display: none;
  }
  .menu {
    display: block;
    position: relative;
  }
}

.mobile-menu {
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px 12px;
  backdrop-filter: blur(2px);
  transform: translateX(-60%);
  position: absolute;
  top: 26px;
  z-index: 1;
  background-color: rgba(256,256,256, 0.8);
}

.hide {
  display: none;
}