// Primary colors
$cyan: #5fb4a2;
$dark-blue: #203a4c;
$grayish-blue: #33323d;

// Secondary colors
$background-gray: #fafafa;
$text-field-gray: #eaeaeb;
$errors-red: #f43030;

// Fonts
$font-ibarra: 'Ibarra Real Nova', serif;
$font-public: 'Public Sans', sans-serif;
