@import 'variables';

.btn-secondary {
  height: 48px;
  width: 162px;
  border: 1px solid $grayish-blue;
  color: $grayish-blue;
  background-color: #fff;
}

.btn-secondary:hover {
  background-color: $grayish-blue;
  color: $background-gray;
}
