@import 'variables';

.footer {
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  margin-top: 150px;
  background-color: $grayish-blue;
}

.footer-container {
  height: 100%;
  display: flex;
  align-items: center;
  a {
    color: #fff;
  }
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  gap: 20px;
  img:hover {
    cursor: pointer;
  }
}
