@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

html,
body {
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-ibarra;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.45px;
}

h2 {
  font-family: $font-ibarra;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3 {
  font-family: $font-ibarra;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

p {
  line-height: 30px;
}

button {
  font-size: 12px;
  font-family: $font-public;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 35px;
  padding-right: 32px;
  height: 48px;
}

button:hover {
  cursor: pointer;
}

a {
  color: $grayish-blue;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a:hover {
  cursor: pointer;
  color: $cyan;
}

li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;

  @media (max-width: 1104px) {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.mt-150 {
  margin-top: 150px;
}

.mt-114 {
  margin-top: 114px;
}

.mb-132 {
  margin-bottom: 132px;
}

input,
textarea {
  outline: none;
}
